.header {
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
}
body {
	padding-top: 63px;
}
.container {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 197px;
}
.ul {
	display: flex;
	justify-content: space-between;
}
.li {
	margin-right: 32px;
	color: #3D58A6;
	font-size: 24px;
}
.socul {
	display: flex;
	justify-content: space-between;
}
.fa-google-plus {
	font-size: 20px;
	color: #3D58A6;
}
.fa-facebook {
	font-size: 20px;
	color: #3D58A6;
}
.fa-youtube {
	font-size: 20px;
	color: #3D58A6;
}
.fa-search {
	font-size: 20px;
	color: red;
}
.socli::after {
	content: "";
	width: 2px;
	height: 20px;
	background-color: #3D58A6;
	display: inline-block;
	margin: 0 15px;
}
.socli:last-child::after {
	display: none;
}
.section1 {
	background-color: #EE4036;
	padding: 30px 0;
}
.section1title {
	font-size: 22px;
	color: #fff;
}
.section2 {
	background-color: #E6E6E6;
	padding: 30px 0;
}
.map {
	width: 1170px;
}
.container iframe {
	width: 100%;
}
.formbg {
	background-color: #363E97;
	padding: 40px 0;
	padding-left: 100px;
}
.leftinfo {
	margin-bottom: 25px;
}
.infoad {
	color: #fff;
	width: 210px;
	font-size: 20px;
}
.infonum {
	color: #fff;
	font-size: 20px;
}